@charset "UTF-8";

/* RESET */
*{
    box-sizing: border-box;
    color: #000000;
    list-style: none;
    text-decoration: none;
    margin: 0;
    outline: none;
}

html{
    width: 100vw;
    min-height: 100vh;
}

*:hover{
    color: #000000;
    text-decoration: none;
    outline: none;
}
*:focus{
    color: #000000;
    text-decoration: none;
    outline: none;
}

body{
    min-height: 100%;
    min-width: 100%;
}

a{
    text-decoration: none;
    color: #000000;
}
a:hover{
    text-decoration: none;
    color: #000000;
}

ul{
    padding: 0px;
    margin: 0;
}

.max-width-100{
    max-width: 100vw;
}


/* FIM RESET */

/* DEFINIÇÕES INICIAIS */

@font-face {
    font-family: 'Jost';
    src: url("../fonts/Jost-Black.ttf");
    font-style: normal;
    font-weight: 900;
}
@font-face {
    font-family: 'Jost';
    src: url("../fonts/Jost-BlackItalic.ttf");
    font-style: italic;
    font-weight: 900;
}
@font-face {
    font-family: 'Jost';
    src: url("../fonts/Jost-Bold.ttf");
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: 'Jost';
    src: url("../fonts/Jost-BoldItalic.ttf");
    font-style: italic;
    font-weight: 700;
}
@font-face {
    font-family: 'Jost';
    src: url("../fonts/Jost-ExtraBold.ttf");
    font-style: normal;
    font-weight: 800;
}
@font-face {
    font-family: 'Jost';
    src: url("../fonts/Jost-ExtraBoldItalic.ttf");
    font-style: italic;
    font-weight: 800;
}
@font-face {
    font-family: 'Jost';
    src: url("../fonts/Jost-ExtraLight.ttf");
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: 'Jost';
    src: url("../fonts/Jost-ExtraLightItalic.ttf");
    font-style: italic;
    font-weight: 200;
}
@font-face {
    font-family: 'Jost';
    src: url("../fonts/Jost-Italic.ttf");
    font-style: italic;
    font-weight: 400;
}
@font-face {
    font-family: 'Jost';
    src: url("../fonts/Jost-Light.ttf");
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: 'Jost';
    src: url("../fonts/Jost-LightItalic.ttf");
    font-style: italic;
    font-weight: 300;
}
@font-face {
    font-family: 'Jost';
    src: url("../fonts/Jost-Medium.ttf");
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: 'Jost';
    src: url("../fonts/Jost-MediumItalic.ttf");
    font-style: italic;
    font-weight: 500;
}
@font-face {
    font-family: 'Jost';
    src: url("../fonts/Jost-Regular.ttf");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Jost';
    src: url("../fonts/Jost-SemiBold.ttf");
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: 'Jost';
    src: url("../fonts/Jost-SemiBoldItalic.ttf");
    font-style: italic;
    font-weight: 600;
}
@font-face {
    font-family: 'Jost';
    src: url("../fonts/Jost-Thin.ttf");
    font-style: normal;
    font-weight: 100;
}
@font-face {
    font-family: 'Jost';
    src: url("../fonts/Jost-ThinItalic.ttf");
    font-style: italic;
    font-weight: 100;
}

:root{
    --roxo: #7026D8;
    --azul: #2634d8;
    --rosa: #c926d8;
    --verde-claro: #8ed826;
    --vermelho: #E53935;
    --vermelho-claro: #EF5350;
    --dark: #212121;
    --cinza: #BDBDBD;
    --cinza-claro: #ECEFF1;
}

/* ELEMENTOS */
body{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    position: relative;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    background-color: var(--cinza-claro);
    box-shadow: 0px 0px 15px var(--cinza-claro);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.title-header{
    margin-bottom: 0;
    margin-left: 8px;
}

header .github-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Jost';
    font-weight: 400;
}

header .github-link svg{
    height: auto;
    width: 25px;
    margin-right: 8px;
}

/* OVERLAY - SIDENAV */

.overlay{
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 15;
    display: none;
    opacity: 0;
}
.overlay.active{
    opacity: .1;
    display: block;
}


/* SIDENAV */

.sidenav{
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    background-color: var(--cinza-claro);
    z-index: 30;
    padding: 16px;
    transition: .3s;
    box-shadow: 2px 0px 15px var(--cinza-claro);
}

.sidenav.active{
    left: 0;
}

.sidenav h1{
    font-size: 32px
}

.sidenav .github-link svg{
    height: auto;
    width: 28px;
}

.sidenav .github-link {
    height: max-content;
}

.sidenav .footer-sidenav{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

/* TOGGLE MENU */
.toggle-menu-img{
    height: auto;
    width: 32px;
}
.toggle-menu-img rect{
    transition: .5s;
}
#toggle-menu.active .toggle-row-top {
    transform: rotate(45deg) translate(2px, -3px);
}
#toggle-menu.active .toggle-row-mid {
    transform: translate(15px, 0px);
}
#toggle-menu.active .toggle-row-bottom {
    transform: rotate(-45deg) translate(-6px, -1.5px);
}

/* CORPO DA PÁGINA */

main{
    margin-top: 90px;
}

.menu-esquerdo{
    min-width: 250px;
    padding: 0 16px 16px 0;
    height: 100%;
}

.menu-esquerdo li{
    padding: 8px 0;
}

article.conteudo{
    padding: 16px;
    border-left: 1px solid var(--dark);
    border-right: 1px solid var(--dark);
    width: max-content;
}

.menu-direito{
    min-width: 250px;
    padding: 0 16px 16px 0;
    height: 100%;
}

.social-links-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.menu-direito .social-link{
    padding: 8px;
    border: 1px solid transparent;
    border-radius: 8px;
    transition: .3s;
}
.menu-direito .social-link svg{
    height: auto;
    width: 28px;
    transition: .3s;
}
.menu-direito .social-link:hover{
    border-radius: 8px;
    border: 1px solid var(--dark);
}
